<head>
	<meta charset="utf-8">
	{{ $siteTitle := site.Title }}
	{{ $siteDescription := site.Params.seo.siteDescription | default site.Params.description | default $siteTitle }}
	{{ $pageTitle := .Title | default $siteTitle }}
	{{ $title := $siteTitle }}
	{{ if and $pageTitle (ne $pageTitle $siteTitle) }}
		{{ $title = printf "%s | %s" $pageTitle $siteTitle }}
	{{ end }}

	{{ $plainContent := .Content | plainify | htmlUnescape | replaceRE `\s+` ` ` | strings.TrimSpace }}
	{{ $contentDescription := "" }}
	{{ if $plainContent }}
		{{ $contentDescription = truncate 150 $plainContent }}
	{{ end }}
	{{ $description := $siteDescription }}
	{{ if .Params.description }}
		{{ $description = .Params.description | plainify | htmlUnescape | replaceRE `\s+` ` ` | strings.TrimSpace }}
	{{ else if $contentDescription }}
		{{ $description = $contentDescription }}
	{{ end }}

	{{ $author := site.Params.author | default site.Title }}
	{{ with site.Params.authorbox.name }}
		{{ $author = . }}
	{{ end }}
	{{ with .Params.author }}
		{{ $author = . }}
	{{ end }}

	{{ $socialImage := "" }}
	{{ if .Params.image }}
		{{ $rawImage := .Params.image | plainify | htmlUnescape | strings.TrimSpace }}
		{{ if or (hasPrefix $rawImage "http://") (hasPrefix $rawImage "https://") }}
			{{ $socialImage = $rawImage }}
		{{ else }}
			{{ $resourcePath := strings.TrimPrefix "/" $rawImage }}
			{{ with resources.Get $resourcePath }}
				{{ $socialImage = .Permalink }}
			{{ else }}
				{{ $socialImage = $rawImage | absURL }}
			{{ end }}
		{{ end }}
	{{ else if and site.Params.images (gt (len site.Params.images) 0) }}
		{{ $socialImage = (index site.Params.images 0) | absURL }}
	{{ else if site.Params.seo.image }}
		{{ $socialImage = site.Params.seo.image | absURL }}
	{{ else if site.Params.seo.thumbnailUrl }}
		{{ $socialImage = site.Params.seo.thumbnailUrl | absURL }}
	{{ end }}

	{{ $isBlogPost := and (eq .Kind "page") (or (in .RelPermalink "/articles/") (in .RelPermalink "/blog/")) }}
	{{ $isServicePage := eq .Type "strategy-session" }}
	{{ $isBrandDefiningPage := or .IsHome (eq .Type "author") (eq .Type "manifesto") $isServicePage }}
	{{ $ogType := "website" }}
	{{ if $isBlogPost }}
		{{ $ogType = "article" }}
	{{ end }}

	<title>{{ $title }}</title>

	{{ "<!-- mobile responsive meta -->" | safeHTML }}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="preload" href="{{ `/fonts/inter-latin-wght-normal.woff2` | absURL }}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{ `/fonts/eb-garamond-latin-wght-normal.woff2` | absURL }}" as="font" type="font/woff2" crossorigin>
	<meta name="description" content="{{ $description }}">
	<meta name="author" content="{{ $author }}">
	<link rel="canonical" href="{{ .Permalink }}">
	{{ if eq .Type "redirect" }}
	<meta name="robots" content="noindex,nofollow">
	{{ end }}

	<meta property="og:title" content="{{ $title }}">
	<meta property="og:description" content="{{ $description }}">
	<meta property="og:type" content="{{ $ogType }}">
	<meta property="og:url" content="{{ .Permalink }}">
	{{ with $socialImage }}
	<meta property="og:image" content="{{ . }}">
	{{ end }}

	<meta name="twitter:card" content="{{ if $socialImage }}summary_large_image{{ else }}summary{{ end }}">
	<meta name="twitter:title" content="{{ $title }}">
	<meta name="twitter:description" content="{{ $description }}">
	{{ $twitterSite := site.Params.seo.twitterSite | default "" | plainify | htmlUnescape | strings.TrimSpace }}
	{{ $twitterCreator := site.Params.seo.twitterCreator | default "" | plainify | htmlUnescape | strings.TrimSpace }}
	{{ if $twitterSite }}
	<meta name="twitter:site" content="{{ $twitterSite }}">
	{{ end }}
	{{ $twitterCreatorEffective := $twitterCreator | default $twitterSite }}
	{{ if $twitterCreatorEffective }}
	<meta name="twitter:creator" content="{{ $twitterCreatorEffective }}">
	{{ end }}
	{{ with $socialImage }}
	<meta name="twitter:image" content="{{ . }}">
	{{ end }}

	<!-- theme meta -->
	<meta name="theme-name" content="Christian Guzman Hugo Theme" />
	{{ hugo.Generator }}

	{{ "<!-- plugins -->" | safeHTML }}
	{{ $vendorCssParts := slice }}
	{{ range site.Params.plugins.css }}
		{{ if or (hasPrefix .link "http://") (hasPrefix .link "https://") }}
			{{ $vendorCssParts = $vendorCssParts | append (resources.FromString (printf "css/vendor/%s" (path.Base .link)) (printf "@import url(%q);" .link)) }}
		{{ else }}
			{{ $diskPath := printf "static/%s" .link }}
			{{ if not (fileExists $diskPath) }}
				{{ $diskPath = printf "themes/meghna-hugo/static/%s" .link }}
			{{ end }}
			{{ $content := readFile $diskPath }}
			{{ if in .link "themify-icons" }}
				{{ $content = replace $content "url(fonts/" "url(/plugins/themify-icons/fonts/" }}
			{{ end }}
			{{ $vendorCssParts = $vendorCssParts | append (resources.FromString (printf "css/vendor/%s" (path.Base .link)) $content) }}
		{{ end }}
	{{ end }}

	{{"<!-- Main Stylesheet -->"|safeHTML}}
	{{ $styles := resources.Get "css/style.css" }}

	{{"<!-- Custom stylesheet bundle -->" |safeHTML}}
	{{ $customPaths := slice
		"css/custom/00-fonts.css"
		"css/custom/01-tokens.css"
		"css/custom/02-base-navigation.css"
		"css/custom/10-home.css"
		"css/custom/20-article-core.css"
		"css/custom/21-article-hero-meta.css"
		"css/custom/22-article-author-related.css"
		"css/custom/23-article-effects.css"
		"css/custom/24-strategy-session.css"
		"css/custom/25-redirect.css"
		"css/custom/30-funfacts.css"
		"css/custom/40-footer.css"
	}}
	{{ $customParts := slice }}
	{{ range $customPaths }}
		{{ with resources.Get . }}
			{{ $customParts = $customParts | append . }}
		{{ end }}
	{{ end }}
	{{ $deferredCssParts := slice }}
	{{ if gt (len $vendorCssParts) 0 }}
		{{ $deferredCssParts = $deferredCssParts | append ($vendorCssParts | resources.Concat "css/vendor.css") }}
	{{ end }}
	{{ with $styles }}
		{{ $deferredCssParts = $deferredCssParts | append . }}
	{{ end }}
	{{ if gt (len $customParts) 0 }}
		{{ $deferredCssParts = $deferredCssParts | append ($customParts | resources.Concat "css/custom.bundle.css") }}
	{{ end }}
	{{ partial "critical-css.html" . }}
	{{ if gt (len $deferredCssParts) 0 }}
		{{ $siteCss := $deferredCssParts | resources.Concat "css/site.css" | minify | fingerprint "sha384" }}
		<link rel="preload" href="{{ $siteCss.Permalink }}" as="style" integrity="{{ $siteCss.Data.Integrity }}">
		<link rel="stylesheet" href="{{ $siteCss.Permalink }}" integrity="{{ $siteCss.Data.Integrity }}" onload="this.onload=null;this.rel='stylesheet'">
		<noscript>
			<link rel="stylesheet" href="{{ $siteCss.Permalink }}" integrity="{{ $siteCss.Data.Integrity }}">
		</noscript>
	{{ end }}

	{{ "<!--Favicon-->" | safeHTML }}
	<link rel="icon" type="image/png" sizes="32x32" href="{{ `images/icons/favicon-32x32.png` | absURL }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ `images/icons/favicon-16x16.png` | absURL }}">
  <link rel="shortcut icon" type="image/png" href="{{ `images/icons/favicon-32x32.png` | absURL }}" />

	<link rel="apple-touch-icon" sizes="180x180" href="{{ `images/icons/apple-touch-icon.png` | absURL }}">
  <link rel="manifest" href="/site.webmanifest">

	{{ partial "analytics.html" . }}

	{{ $websiteSchema := dict
		"@context" "https://schema.org"
		"@type" "WebSite"
		"name" $siteTitle
		"url" site.Home.Permalink
		"description" $siteDescription
	}}
	<script type="application/ld+json">{{ $websiteSchema | jsonify | safeJS }}</script>

	{{ $personName := site.Params.seo.person.name | default site.Params.authorbox.name | default $siteTitle }}
	{{ $personDescription := site.Params.seo.person.description | default $siteDescription }}
	{{ $personJobTitle := site.Params.seo.person.jobTitle | default "Engineering Leadership Coach" }}
	{{ $personImage := site.Params.seo.person.image | default site.Params.authorbox.image | default site.Params.seo.image | default "/logo.png" | absURL }}
	{{ $personSameAs := slice }}
	{{ with site.Params.seo.person.sameAs }}
		{{ range . }}
			{{ if . }}
				{{ $personSameAs = $personSameAs | append . }}
			{{ end }}
		{{ end }}
	{{ end }}

	{{ if $isBrandDefiningPage }}
		{{ $personSchema := dict
			"@context" "https://schema.org"
			"@type" "Person"
			"name" $personName
			"url" site.Home.Permalink
			"description" $personDescription
			"jobTitle" $personJobTitle
			"image" $personImage
		}}
		{{ if gt (len $personSameAs) 0 }}
			{{ $personSchema = merge $personSchema (dict "sameAs" $personSameAs) }}
		{{ end }}
		<script type="application/ld+json">{{ $personSchema | jsonify | safeJS }}</script>
	{{ end }}

	{{ if $isBlogPost }}
		{{ $articleSchema := dict
			"@context" "https://schema.org"
			"@type" "BlogPosting"
			"headline" $pageTitle
			"description" $description
			"url" .Permalink
			"mainEntityOfPage" .Permalink
			"datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
			"dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
			"author" (dict
				"@type" "Person"
				"name" $author
			)
			"publisher" (dict
				"@type" "Person"
				"name" $siteTitle
			)
		}}
		{{ with $socialImage }}
			{{ $articleSchema = merge $articleSchema (dict "image" (slice .)) }}
		{{ end }}
	<script type="application/ld+json">{{ $articleSchema | jsonify | safeJS }}</script>
	{{ end }}

	{{ if $isServicePage }}
		{{ $serviceSchema := dict
			"@context" "https://schema.org"
			"@type" "Service"
			"name" $pageTitle
			"description" $description
			"url" .Permalink
			"serviceType" "Engineering Leadership Coaching"
			"provider" (dict
				"@type" "Person"
				"name" $personName
				"url" site.Home.Permalink
			)
		}}
		<script type="application/ld+json">{{ $serviceSchema | jsonify | safeJS }}</script>
	{{ end }}

	{{ with site.Params.google_analytics_id }}
	{{ "<!-- Global Site Tag (gtag.js) - Google Analytics -->" | safeHTML }}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', '{{ . }}');
	</script>
	{{ end }}

</head>
